.container {
    width: 90%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 3rem 0;
    margin-bottom: 15rem;
}


@media (min-width: 550px) {
    .icon {
        margin: 0 auto;
        display: block;
        margin-bottom: 2rem;
    }
}


.container>span {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.container>h1 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.plans {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: left;
}

.planHeader {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    position: sticky;
    top: 0;
    background-color: #FFF;
}

@media (min-width: 550px) {
    .planHeader {
        align-items: flex-end;
        padding: 8rem 0;
    }
}


.planOption {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 550px) {
    .planOption {
        width: 60%;
    }
}

.planContainer {
    position: relative;
}

.planContainer input {
    display: none;
}

.plan {
    padding: 3rem 2rem;
    background-color: #E50914;
    font-size: 1.7rem;
    color: #FFF;
    font-weight: bold;
    opacity: .6;
    border-radius: .2rem;
}

@media (min-width:950px) {
    .plan {
        padding: 5rem 3rem;
    }
}


input[type="radio"]:checked+.plan {
    opacity: 1;
}

input[type="radio"]:checked+.plan::before {
    content: '';
    width: 3rem;
    height: 3rem;
    position: absolute;
    background-color: #E50914;
    left: 50%;
    bottom: -4rem;
    transform: translateX(-50%) rotate(45deg)
}

@media (min-width: 550px) {
    input[type="radio"]:checked+.plan::before {
        bottom: -3.5rem;
    }
}

@media (min-width: 950px) {
    input[type="radio"]:checked+.plan::before {
        bottom: -6rem;
    }
}

.table {
    width: 100%;
    color: #737373;
    font-size: 1.6rem;
    display: flex;
    flex-wrap: wrap;
}

.table tbody {
    width: 100%;
}

.table td {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 20%;
    text-align: center;
    font-weight: bold;
    color: #a6a6a6;
}

.table td:first-child {
    padding: .5rem 0;
    width: 100%;
    font-size: 1.4rem;
    color: #333;
    font-weight: 200;
}

@media (min-width:550px) {
    .table td:first-child {
        width: 40%;
        text-align: left;
        font-size: 1.6rem;
    }
}

.table tr:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

/* .table tr:nth-child(2) {
    border-bottom: 1px solid #737373;
} */

.table tr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

@media (min-width:550px) {
    .table tr {
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

.basico,
.estandar,
.premium {
    color: #E50914 !important;
}

small {
    max-width: 73rem;
    display: block;
    font-size: 1.3rem;
    color: #737373;
    margin-top: 1rem;
}

small span {
    color: #0071eb;
}


.button {
    margin: 0 auto;
    text-align: center;
    display: block;
    text-decoration: none;
    margin-top: 3rem;
    width: 100%;
    max-width: 44rem;
    border: unset;
    border-radius: .3rem;
    background-color: #E50914;
    color: #FFF;
    padding: 2rem 1rem;
    font-size: 2.44rem;
    cursor: pointer;
    font-weight: 100;
}