.container {
    width: 90%;
    max-width: 34rem;
    margin: 0 auto;
    padding: 5rem 0;
    margin-top: 5rem;
}

.container>p {
    font-size: 1.8rem;
}

.img {
    width: 28rem;
    margin-bottom: 5rem;
}

@media (min-width: 550px) {
    .img {
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    .container>p {
        text-align: center;
    }
}

@media (min-width: 550px) {
    .container {
        text-align: center;
    }

    .icon {
        margin: 0 auto;
        display: block;
        margin-bottom: 2rem;
    }
}

.container>span {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.container>h1 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}


.plans {

    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
}

.button {
    text-align: center;
    display: block;
    text-decoration: none;
    margin-top: 3rem;
    width: 100%;
    border: unset;
    border-radius: .3rem;
    background-color: #E50914;
    color: #FFF;
    padding: 2rem 1rem;
    font-size: 2.44rem;
    cursor: pointer;
    font-weight: 100;
}

.form_group {
    position: relative;
}

.input {
    width: 100%;
    background-color: white;
    padding: 2.5rem 2rem 1rem 2rem;
    font-size: 1.6rem;
    border: none;
    color: #000;
    border-radius: .6rem;
    outline: none;
    border: 1px solid #8c8c8c;
    border-radius: .4rem;
}

.input:valid {
    border: 1px solid #5fa53f;
}

.error .input {
    border: 1px solid #b92d2b;
}

.error_input {
    font-size: 1.4rem !important;
    color: #b92d2b;
    text-align: left;
    margin: .5rem 0;
}


.input:focus~label,
.input:valid~label {
    transform: translateY(-.3rem);
}


.input:focus~label,
.input:valid~label,
.label {
    font-size: 1.2rem;
}

.label {
    margin-top: 1rem;
    margin-left: 2rem;
    position: absolute;
    font-size: 1.6rem;

    left: 0;
    color: #8c8c8c;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}