.info_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.info_content h1 {
    font-weight: bold;
    font-size: 2.7rem;
}

@media (min-width: 550px) {
    .info_content h1 {
        font-size: 5rem;
    }
}

.info_content p {
    font-size: 1.8rem;
}



@media (min-width: 550px) {
    .info_content p {
        font-size: 2.6rem;
    }

    .info_content :nth-child(3) {
        font-size: 1.92rem;
    }
}

.small p {
    font-size: 1.8rem;
}

.info_actions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

@media (min-width: 950px) {
    .info_actions {
        flex-direction: row;
        gap: unset;
        align-items: flex-start;
    }
}

.info_input {
    outline: unset;
    /* padding: 1rem; */
    width: 100%;
    font-size: 1.4rem;
}

@media (min-width: 950px) {
    .info_input {
        width: 45rem;
        /*  padding: 2rem 1rem; */
    }
}

.info_button {
    position: relative;
    cursor: pointer;
    border: unset;
    background-color: #E50914;
    color: #FFF;
    padding: 1rem 1.5rem;
    width: fit-content;
    font-size: 1.6rem;
    border-radius: .4rem;
}

@media (min-width: 950px) {
    .info_button {
        border-radius: 0;
        border-top-right-radius: .4rem;
        border-bottom-right-radius: .4rem;
        font-size: 2.6rem;
        height: 100%;
        padding: 1.1rem 1.5rem;

    }
}

.info_button:disabled span {
    visibility: hidden;
}

.info_button:disabled {
    cursor: default;
}

.info_button:disabled::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.4;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.info_button:disabled::after {
    content: "";
    background-image: url(https://assets.nflxext.com/en_us/pages/wiplayer/site-spinner.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    position: absolute;
    animation: nfLoader-spin 1.1s linear infinite, 1 !important;
    -webkit-animation: nfLoader-spin 1.1s linear infinite, 1 !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
}

@media (min-width: 950px) {
    .info_button:disabled::after {
        width: 3rem;
        height: 3rem;
    }
}

@keyframes nfLoader-spin {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes nfLoader-spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}