.container {
    background-color: #000;
    padding-bottom: 7rem;
}

.listCategories {
    margin-top: -3rem;
}

.title {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    padding: 3rem 0 1rem 1rem;
}